@(currentPage: PaginatedResult[Event])(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@link(newPage: Int) = @{
    routes.EventController.listUserEvents(newPage)
}

    <h1>@Messages("events.list.title", currentPage.total)</h1>
    @Option(currentPage.items).filterNot(_.isEmpty).map { events =>
      <table>
         <thead>
             <tr>
                 <th>"Title"<th>
                 <th>"Description"<th>
                 <th>"Start Date"</th>
                 <th>"End Date"</th>
                 <th>"Scheme"<th>
                 <th>"Record Response"</th>
                 <th>"View log"</th>
             </tr>
         </thead>
         <tbody>
             @events.map { event => {
                     <tr>
                         <td>@event.title</td>
                         <td>@event.description</td>
                         <td>@event.startDate</td>
                         <td>
                             @event.endDate.getOrElse {<em>-</em>}
                         </td>
                         <td>@event.recurrenceType</td>
                         <td><a href=@routes.ResponseController.respond(event.id.get)>"Respond"</a></td>
                         <td><a href=@routes.ResponseController.getResponses(event.id.get)>"View"</a></td>
                     </tr>
                 }
             }
         </tbody>
      </table>

      <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + events.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
      </div>
    }.getOrElse {
       <div class="nada">Set up some tasks!</div>
    }
