@import controllers.forms.EventData
@(eventForm: Form[EventData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import helper._

<h1>Events</h1>
@form(action = CSRF(routes.EventController.postForm())) {
    @inputText(eventForm("title"))
    @inputText(eventForm("description"))
    @*
    * @input(eventForm("startDate"), '_label -> "When to begin?", '_showConstraints -> false) { (id, name, value, args) =>
    *     <input type="datetime-local" name="@name" id="@id" value=@form("startDate") @toHtmlArgs(args)>
    * }
    * @input(eventForm("endDate"), '_label -> "When to end?", '_showConstraints -> false) { (id, name, value, args) =>
    *     <input type="datetime-local" name="@name" id="@id" value=@form("endDate") @toHtmlArgs(args)>
    * }
    *@
    @inputText(eventForm("startDate"), 'type -> "datetime-local")
    @inputText(eventForm("endDate"), 'type -> "datetime-local")
    @select(eventForm("recurrenceScheme"),
        options(
            "hourly" -> "hourly",
            "daily" -> "daily",
            "weekly" -> "weekly",
            "biweekly" -> "biweekly",
            "monthly" -> "monthly",
            "yearly" -> "yearly"
        ),
        '_label -> "How often?", '_showConstraints -> false
    )
    <input type="submit">
}