@(currentPage: PaginatedResult[Response], eventId: Long)(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@link(newPage: Int) = @{
    routes.ResponseController.getResponses(eventId, newPage)
}

    <h1>@Messages("Responses to event", currentPage.total)</h1>
    @Option(currentPage.items).filterNot(_.isEmpty).map { responses =>
      <table>
         <thead>
             <tr>
                 <th>"Description"<th>
                 <th>"Response Date"</th>
                 <th>"Confirmed"</th>
             </tr>
         </thead>
         <tbody>

             @responses.map { response => {
                     <tr>
                         <td>@response.description</td>
                         <td>@response.responseDate</td>
                         <td>@response.committed.toString</td>
                     </tr>
                 }
             }
         </tbody>
      </table>

      <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + responses.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
      </div>
    }.getOrElse {
       <div class="nada">You haven't done anything for this task!</div>
    }
